@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-bg: #202020;
  --text-white: #fff;
}

body {
  background: url('./img/bg-body.jpg') no-repeat center/cover;
  font-family: 'Roboto', sans-serif;  
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo {
  margin: 1rem 0 3rem 0;
  width: 33%;
}

.container {  
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  height: 100vh;  
}

.card {
  display: flex;
  /* border: 1px solid green; */
    
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 1rem;  
  transition: all 0.7s ease;
  overflow: hidden;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem;  
}

.card-bg {
  border-radius: 1rem;
  width: 600px;
  height: 150px;
  box-shadow: 4px 4px 4px rgba(155, 162, 163, 0.5);  
  object-fit: cover;
}

.card-text {
  color: var(--text-white);
  font-size: 55px;
  position: absolute;
  margin-left: 50px;
  text-shadow: -2px 4px 1px var(--dark-bg);
}

.card::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff28;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: all 0.7s;
}

.card:hover::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
}

.card:hover {  
  box-shadow: 0 7px 50px 10px #0000003d;
  transform: scale(1.015);
  transition: all 0.7s ease;
}


/* MEDIA QUERIES */
@media (max-width: 1200px) {
  
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}
